name: Docker build

on:
  pull_request:
    branches: "master"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ["default", "notebook", "test-conda-env-name"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Build ${{ matrix.image }} 
      run: docker build -t coiled/${{ matrix.image }}  ${{ matrix.image }} 